.vermelho{
    width: 200px;
    height: 200px;
    background-color: red;
}
.amarelo{
    width: 200px;
    height: 200px;
    background-color: gold
}
.verde{
    width: 200px;
    height: 200px;
    background-color: green
}
h1 {
    text-align: center;
    line-height: 200px;
    color: white;
}